<div class="text-center">
        <h1>Máquinas de Corte</h1>
        <button id="btnShow2D" onclick="showMachines('2')">Mostrar Máquinas 2D</button>
        <button id="btnShow3D" onclick="showMachines('3')">Mostrar Máquinas 3D</button>
        <button id="btnShowTodos" onclick="showMachines('')">Mostrar Todas</button>

        <table id="machineTable" style="display: none;">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Fabricante</th>
                    <th>Tecnología</th>
                </tr>
            </thead>
            <tbody id="machineData">
            </tbody>
        </table>
</div>

